html,body { height: 100%; margin: 0px; padding: 0px; }
.section { height: 100vh; }

.full-height-column {
    margin:0; 
    padding:0; 
    height:100%;
}

.ide-list {
    background-color: #2C2B33;
}

.shortcuts-list {
    background: #656571; /* Old browsers */
    background: -moz-linear-gradient(top, #656571 0%, #46464e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #656571 0%,#46464e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #656571 0%,#46464e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656571', endColorstr='#46464e',GradientType=0 );
}