html
  head
    title SticKeys
    link(href="css/bulma.css", rel="stylesheet")
    link(href="css/browser.css", rel="stylesheet")
    script(src="js/jquery-3.1.1.min.js")
    script(src="js/keymaster.js")
    script(src="js/keys.js")
    script.
      setKeyMapping(!{JSON.stringify(keyMapping)})
  body
    div(class="container")
      div(class="columns is-gapless")
        div(class="column is-one-quarter full-height-column")
          include views/ide.pug
        div(class="column")
          include views/shortcuts.pug
    