section(class="section-actions")
    div(class="columns is-multiline")
        each action in actions
            div(class="column is-12 action-column")
                div(class="columns")
                    div(class="column is-1")
                    div(class="column is-7")
                        span(class="action-name title is-4")= action
                    div(class="column has-text-right")
                        span(class="action-shorcut title is-5") CTRL + ALT+ A