section(class="section shortcuts-list")
    div(class="columns is-multiline")
        div(class="column is-12")
            include actions.pug
        div(class="column is-12")
            include shortcuts-buttons.pug